body{
    background-image: linear-gradient(
        rgb(59,88,83), /* Ponto inicial do gradiente */
        rgb(29,40,42) /* Ponto final do gradiente*/
    );
    height: 100vh; /* Vertical Hight ocupando 100% */
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column; /* Colocando os elementos em coluna */
    align-items: center;
    margin: 0;
}


button{
    background-color: inherit;
    color: inherit;
    border: none;
}

#below-cover{
    display: flex;
    flex-direction: row; /* Colocando os elementos em linha */
    justify-content: space-between;
    align-items: center;
    margin: 3em 0em 1em 0em; /* Margem superior, direita, inferior e esquerda */
} 

#button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.button{
    font-size: 1.5em; /* Tamanho da fonte */
}

.button-navigate{
    font-size: 2em;
}

.button-biggest{
    font-size: 3em;
}

#cover {
    width: 480px;
    height: 400px; /* Adiciona altura fixa */
    object-fit: cover; /* Garante que a imagem preencha sem distorcer */
}
 
#playlist-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1em 0em 4em 0em; 
}

#song-name{
    font-size: 1.5em;
    font-weight: bolder; /* Deixando o texto em negrito */
}

.light-color {
    color: rgb(139,153,156); 
}

#progress-bar{
    background-color: rgb(139,153,156);
    height: 3px;
    width: 100%;
    border-radius: 15px;
}

#current-progress{
    --progress : 0%; /*Variável do css que será utilizada na funcão da barra de progresso*/
    background-color: white;
    height: inherit; /* Herda a altura do elemento pai #progress-bar*/
    width: var(--progress);
    border-radius: inherit;
}

#progress-container{
    padding-bottom: 1em;
}

